<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    <meta  content="script-src 'self'; style-src 'unsafe-inline'" > -->
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- No need to start href with /public, as it already ooking in it,because of the middleware we created in app.js that uses express.static-->
