<%- include("partials/header"); -%>
</head>
<body>
    <%- include("partials/navigation"); -%>  
    <div class="centered">
        <h1>404 Page Not found!</h1>
        <a href="/">Home Page</a>
    </div>

<%- include("partials/footer") -%>