<%- include("partials/header"); -%>
</head>
<body>
    <%- include("partials/navigation"); -%>  
    <h1>Internal Server Error!</h1>
    <p>We're working on fixing this, Sorry for the Incovenience!!</p>

<%- include("partials/footer") -%>