<%- include("partials/header"); -%>
</head>
<body>
    <%- include("partials/navigation"); -%>  
    <div class="centered">
        <h1>Internal Server Error!</h1>
        <p>We're working on fixing this, Sorry for the Incovenience!!</p>
        <a href="/">Home Page</a>
    </div>
<%- include("partials/footer") -%>